{% extends "base_generic.html" %}



{% block content %}
    <div class="login-body">
    <form class="login" method="post" action="{% url 'login' %}">
        {% csrf_token %}
  <div class="login">
    <div class="login-screen">
      <div class="app-title">
        <h1>Авторизация</h1>
      </div>
      <div class="login-form">
        <div class="control-group">
            {{ form.username.label }} {{ form.username }}
        </div>

        <div class="control-group">
            {{ form.password.label }} {{ form.password }}
        </div>
        <input class="btn btn-primary btn-large btn-block" type="submit" value="Войти" />
          {% if form.errors %}
            <p>Неправильный логин или пароль. Попробуйте другой</p>
            {% endif %}
        <a class="login-link" href="{% url 'register' %}">Еще не зарегистрированы?</a>
      </div>
    </div>
  </div>
    </form>
</div>
{% endblock %}