{% extends "base_generic.html" %}
{% block content %}
<div class="login-body">
    <form method="post" action="{% url 'register' %}">
        {% csrf_token %}
  <div class="login">
    <div class="login-screen">
      <div class="app-title">
        <h1>Регистрация</h1>
      </div>
      <div class="login-form">
        <div class="control-group">
            {{ form.username.label }} {{ form.username }}
        </div>
      <div class="control-group">
            {{ form.first_name.label }} {{ form.first_name }}
        </div>
      <div class="control-group">
            {{ form.last_name.label }} {{ form.last_name }}
        </div>
        <div class="control-group">
            {{ form.password1.label }} {{ form.password1 }}
        </div>
        <div class="control-group">
            {{ form.password2.label }} {{ form.password2 }}
        </div>
        <input class="btn btn-primary btn-large btn-block" type="submit" value="Зарегистрироваться" />
          {% if form.errors %}
            <br>
            <p>{{ form.errors.as_text }}</p>
            {% endif %}
      </div>
    </div>
  </div>
    </form>
</div>
{% endblock %}