<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Типография</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="icon" href="../static/images/favicon.ico">

  <!-- Добавление дополнительного статического CSS файла -->
  {% load static %}
    {% block css %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% endblock %}
</head>

<body>
    <section class="content">
        {% block content %}
        {% endblock %}
    </section>

</body>
</html>
