{% extends "base_generic.html" %}

{% block content %}
<h1>Типография</h1>
<hr>
<p>Добро пожаловать в систему "Телеателье". Данный сервис предназначен для моделирования работы телеателье.</p>
<hr>
    {% if user.is_authenticated %}
        вы авторизированы
        {% else %}
        вы не авторизированы
    {% endif %}

{% endblock %}
